# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Romain\OneDrive - Groupe INSEEC (POCE)\Etudes\Inge 2\Cours\Info\TP\Test allegro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
